@use "../../scss/breakpoint" as *;

.movie-list {
    .swiper-slide {
        width: 15%;


        @include tablet {
            width: 30%;
        }

        @include mobile {
            width: 40%;
        }
    }
    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
        background-color: #ff0000;
    }
}