$main-color: #ff0000;
$txt-color: #e6e6e6;
$bg-color: #000;
$white: #fff;
$black: #000;

$box-shadow: 0 0 20px 2px rgba(100, 100, 111, 0.2);

$header-height: 4rem;
$header-shrink-height: 4rem;
$border-radius: 10px;
$mobile-width: 780px;
$tablet-width: 1200px;

$font-family: "Montserrat", sans-serif;

